.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  text-align: left;
}
.box-center {
  display: flex;
  width: 100vh;
  justify-content: space-between;
  gap: 30px;
}

.left {
  width: 450px;
  flex-grow: 2;
  margin-right: 10%;
}

.mg-bot {
  margin-bottom: 20px;
}
