.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  padding: 3px 2px;
  box-shadow: 10px 5px 5px #b4b4b448;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header-logo {
  width: 100px;
  height: 60px;
}
.header-logo-cloud {
  width: 50px;
  height: 50px;
}

.header-list {
  display: flex;
}
.header-list li {
  list-style-type: none;
  margin-right: 15px;
  cursor: pointer;
}
.header-list a {
  text-decoration: none;
  color: #4285f4;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-title p {
  color: #4285f4;
  margin: auto;
}
