@font-face {
  font-family: "google sans bold";
  src: url("./fonts/GoogleSans-Bold-v1.27.ttf") format("truetype");
}
@font-face {
  font-family: "google sans medium";
  src: url("./fonts/GoogleSans-Medium-v1.27.ttf") format("truetype");
}

@font-face {
  font-family: "google sans regular";
  src: url("./fonts/GoogleSans-Regular-v1.27.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
